{% load static %}

<link rel="stylesheet" href="{% static 'styles/nav-bar.css' %}">
<link rel="icon" href="{% static 'imgs/logo2.svg' %}">
        <nav class="nav-bar">
            <div class="logo">
                <img src="{%  static 'imgs/logo2.svg' %}" class="logo" style="margin-right: 10px; height: 65px; fill: #323232;">
{#                <img src="{%  static 'imgs/logo_text.svg' %}" class="logo" >#}
            </div>
        </nav>
{#        <div class="menu">#}
{#            <a href="{% url 'home' %}" class="nav-bar-btn active">Новини</a>#}
{#            <a href="" class="nav-bar-btn ">Категорії</a>#}
{#            <div class="search-box">#}
{#                <div class="glass"><i class="fa-solid fa-magnifying-glass"></i></div>#}
{#                <input type="search" name="" id="" class="search" placeholder="Пошук...">#}
{#            </div>#}
{#            <a href="{% url 'map' %}" class="nav-bar-btn">Теплова карта</a>#}
{#            <a href="" class="nav-bar-btn">Аналітика</a>#}
{#            <a href="{% if user.is_authenticated %}{% else %}{% url 'users:login' %}{% endif %}" class="nav-bar-btn"><i class="fa-solid fa-user"></i></a>#}
{#            {% if user.is_authenticated %}#}
{#                {{ user.username }}#}
{#            {% endif %}#}
{#        </div>#}
{#    </nav>#}



