<ul class="pagination">
  {% if page_number > 1 %}
    <li><a href="?page={{ page_number|add:-1 }}" class="pagination-prev">
      <i class="fa-solid fa-arrow-left"></i>
    </a></li>
  {% endif %}

  {% for page in page_range %}
    {% if page == page_number %}
      <li><a href="?page={{ page }}" class="pagination-link active">{{ page }}</a></li>
    {% elif page == "..." %}
      <li><span class="pagination-dots">...</span></li>
    {% else %}
      <li><a href="?page={{ page }}" class="pagination-link">{{ page }}</a></li>
    {% endif %}
  {% endfor %}

  {% if page_number < total_pages %}
    <li><a href="?page={{ page_number|add:1 }}" class="pagination-next">
      <i class="fa-solid fa-arrow-right"></i>
    </a></li>
  {% endif %}
</ul>